body  {   
   /* this border is used to see the border of the body which contains the display class and body that holds the calculator buttons*/
   /*border: 5px solid red; */
   
   /* allows for body to be centered on webpage */
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   /* this is the main border around the completed calculator */
   border: 10px solid grey; 
}


#display {
   text-align: right;
   border: 5px solid black;
   font-size: 50px;
   font-style: italic;
   width: 380px;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-right: 20px;
   overflow: hidden;
}



.calcBody {
   border: 5px solid black;
   gap: 5px 5px;
   width: 400px;
   display: flex;
   flex-wrap: wrap;
   gap: 0px;
   
}

.button {
   vertical-align: top;
   margin: 0px;
   border: 5px solid goldenrod;
   font-size: 25px;
   font-style:oblique;

   height: 97px;
   width: 100px;
}

/* both blocks of code below targets a button and their unique ID from INDEX HTML to lengthen their respective buttons and fit into the CALC BODY */
.button#ac {
   width: 300px;
}

.button#equals {
   width: 200px;
}
