.container {
   border: 5px solid red; 
   display: flex;
   flex-direction:column;
   align-items: center;
}


#display {
   border: 1px solid black;
   height: 100px;
   width: 400px;
}



.calcBody {
   border: 1px solid black;
   display: flex;
   gap: 5px 5px;
   width: 400px;
}

.button {
   vertical-align: top;
   border: 1px solid black;
   height: 97px;
   width: 97px;
}
