body {
   border: 5px red;
  /* display: flex;
   flex-direction: column;
   /*justify-content: center;*/
  /* align-content: center;*/
}

#display {
   border: 1px solid black;
   display: flex;
   gap: 5px 5px;
   height: 100px;
   width: 400px;
   align-self: flex-end;

}

.calcBody {
   border: 1px solid black;
   display: flex;
   gap: 5px 5px;
   width: 400px;
}

.button {
   border: 1px solid black;
   height: 100px;
   display: flex;
   width: 100px;

}